html, body {
    margin: 0;
    padding: 0;
    min-width: 1180px;
}

ul, li {
    margin: 0;
    padding: 0;

    list-style: none;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../font/GothamPro-Medium.eot');
    src: url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/GothamPro-Medium.woff') format('woff'),
    url('../font/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('../font/GothamPro-Bold.eot');
    src: url('../font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/GothamPro-Bold.woff') format('woff'),
    url('../font/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

a {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: 'Gotham Pro Bold', sans-serif;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;

    color: #ffffff;
    font-family: 'Gotham Pro Medium', sans-serif;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.main-header {
    background-image: url("../img/header__bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 192px;
}

.main-header__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-header__list__item {
    margin-left: 50px;
}

.main-header__button {
    padding: 20px 40px;
    padding-right: 60px;

    background-image: url("../img/submit__arrow.png");
    background-repeat: no-repeat;
    background-position: 90px 22px;
    background-color: #a100ff;
    border-radius: 5px;

    cursor: pointer;
}

.header-information,
.banner__text {
    width: 532px;
}

.header-information h1,
.banner__text h1{
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
}

.header-information p,
.banner__text p{
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 24px;
}

.header-form {
    width: 650px;
    padding-bottom: 260px;
}

.header-form form {
    display: flex;
}

.header-form__wrapper {
    position: relative;
}

.header-form__label {
    position: absolute;
    left: 25px;
    top: 17px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.header-form__wrapper input {
    width: 230px;
    padding: 20px 25px;
    margin-right: 20px;

    border: none;
    border-radius: 3px;
}

.header-form__submit {
    padding: 21px 32px;

    font-size: 0;

    background-image: url("../img/submit__arrow.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #28c8c6;
    border: none;
    border-radius: 3px;

    cursor: pointer;
}

.scroll__down {
    font-size: 0;
}

.last__design__block {
    padding-top: 120px;

    background-color: #f5f7f9;
}

.design__wrapper {
    margin: 0 auto;

    text-align: center;
    width: 660px;
}

.style__title {
    margin-bottom: 35px;

    color: #333b42;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
}

.style__info {
    color: #74797e;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.design__iphone {
    margin-top: 75px;
}

.features__block {
    margin-top: -4px;

    border-bottom: 1px solid #d8e0e8;
    background-color: #ffffff;
}

.features__text__wrapper {
    padding-top: 161px;
    margin: 0 auto;

    text-align: center;
    width: 660px;
}

.features__title {
    margin-bottom: 35px;

    color: #333b42;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
}

.features__info {
    margin-bottom: 63px;

    color: #74797e;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.features__list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 153px;

    text-align: center;
}

.features__list__item {
    margin-right: 20px;
    width: 280px;
}

.features__list__item:last-child {
    margin-right: 0;
}

.list__element {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 137px;
    height: 137px;

    border-radius: 50%;
    background-color: #8500d2;
}

.list__element__1 {
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: 41px 49px;
}

.list__element__2 {
    background-image: url("../img/fly.png");
    background-repeat: no-repeat;
    background-position: 45px 50px;
}

.list__element__3 {
    background-image: url("../img/connect.png");
    background-repeat: no-repeat;
    background-position: 46px 49px;
}

.list__element__4 {
    background-image: url("../img/win.png");
    background-repeat: no-repeat;
    background-position: 41px 45px;
}

.features__list__item h2 {
    margin-bottom: 37px;

    font-size: 17px;
    line-height: 29px;
    color: #333b42;
    text-transform: uppercase;
}

.features__list__item p {
    color: #74797e;
    font-size: 14px;
    line-height: 25px;
}

.button__scroll__wrapper {
    position: relative;
}

.scroll__down__button {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    padding: 57px;

    font-size: 0;

    border-radius: 50%;
    background-image: url("../img/scroll__down.png");
    background-repeat: no-repeat;
    background-position: 40px 40px;
    background-color: #f5f7f9;
}

.scroll__down__button-green {
    top: -65px;

    background-color: #28c8c6;
    background-image: url("../img/scroll__down__2.png");
}

.scroll__down__button-white {
    top: -60px;

    border-bottom: 1px solid #d8e0e8;
    background-color: #ffffff;
    background-image: url("../img/scroll__down__3.png");
}

.design-guidelines {
    padding-top: 137px;

    text-align: center;

    background-color: #f6f9fa;
}

.design__title {
    margin-bottom: 35px;

    color: #333b42;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
}



.design__info {
    margin-bottom: 63px;

    color: #74797e;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.design-guidelines__filter {
    margin: 0 auto;
    margin-bottom: 55px;
    display: flex;
    flex-wrap: nowrap;
    width: 550px;

    border: 1px solid #28c8c6;
    border-radius: 2px;
}

.design-guidelines__filter__item {
    padding: 23px 35px;

    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    color: #28c8c6;

    background-color: #f6f9fa;
    border: none;

    cursor: pointer;
}

.design-guidelines__filter__item:hover {
    background-color: #28c8c6;
    color: #f6f9fa;
}

.design-guidelines__filter__item:focus {
    background-color: #28c8c6;
    color: #f6f9fa;
    outline: none;
}

.design-guidelines__list {
    display: flex;
    justify-content: flex-start;
}

.design-guidelines__list__item {
    margin-right: 20px;
    margin-bottom: 100px;
    width: 380px;

    border-radius: 5px;
    background-color: #ffffff;
}

.design-guidelines__list__item:last-child {
    margin-right: 0;
}

.design-guidelines__list__item p {
    position: relative;
    padding-top: 19px;
    padding-bottom: 19px;

    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 25px;
    color: #333b42;
}

.design-guidelines__list__item p::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 23px;
    right: 40px;
    background-image: url("../img/Shape-45.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner {
    background-image: url("../img/banner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container {
    display: flex;
    padding-top: 333px;
    padding-bottom: 280px;
}

.banner__logo {
    margin-right: 40px;
}

.banner-decoration {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    min-height: 680px;
}

.banner-decoration img {
    position: absolute;
    right: 0;
    top: -524px;
}

.main-footer a,
.main-footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #8297a7;
}

.main-footer__wrapper .container {
    display: flex;
    justify-content: space-between;
}

.main-footer__links__wrapper {
    display: flex;
}

.main-footer__list__column {
    margin-right: 60px;
    margin-bottom: 13px;
}

.main-footer__links {
    margin-bottom: 150px;
}

.main-footer__share  .tweet,
.main-footer__share  .facebook {
    padding: 10px 0;
    padding-left: 41px;
    padding-right: 19px;

    font-size: 13px;
    line-height: 35px;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;

    border-radius: 5px;
}

.main-footer__share-links {
    margin-bottom: 40px;
}

.tweet {
    position: relative;
    margin-right: 6px;

    background-color: #69b6f2;
}

.tweet::before {
    content: "";

    display: block;
    width: 15px;
    height: 13px;
    position: absolute;
    top: 11px;
    left: 17px;

    background-image: url("../img/tweet.png");
    background-repeat: no-repeat;
}

.facebook {
    position: relative;

    background-color: #3a579a;
}

.facebook::before {
    content: "";

    display: block;
    width: 10px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 17px;

    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
}

.btn_up {
    position: fixed;
    top: 200px;
    left: 27px;
    width: 50px;
    height: 50px;
    z-index: 100;

    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    outline: none;

    cursor: pointer;
}

.btn_up::after {
    content: "";

    display: block;
    width: 17px;
    height: 16px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

    background-image: url("../img/up-arrow.png");
}

.contact-us__pop-up {
    padding: 23px 0;
    position: fixed;
    top: 812px;
    right: -62px;
    width: 185px;
    z-index: 100;

    font-family: 'Gotham Pro Bold', sans-serif;
    color: #ffffff;
    
    background-color: #8500d2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    transform: rotate(-90deg);

    cursor: pointer;
}